# Make a duplicate of this file and save it as "site_credentials.py".
# Remember to set the permissions that others don't snoop on your username and
# password! Recommendation: chmod 600 site_credentials.py

site_username='YOUR USERNAME HERE'
site_password='YOUR PASSWORD HERE'
